* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rotate-by-deg {
    transform: rotate(45deg);
  }
  
  .rotate-by-rad {
    transform: rotate(-1rad);
  }
  
  .rotate-by-turn {
    transform: rotate(0.3turn);
  }
  
  body {
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  p {
    margin-bottom: 16px;
  }
  
  img {
    width: 60px;
  }
  


  .scaleX {
    transform: scaleX(1.25);
  }
  
  .scaleY {
    transform: scaleY(1);
  }
  
  .scaleXY {
    transform: scale(0.25, 1.5);
  }
  
  .scale {
    transform: scale(0.5);
  }
  

  
  p {
    margin: 24px 0px 16px;
  }
  
  img {
    width: 60px;
  }

  .skewX {
    transform: skewX(45deg);
  }
  
  .skewY {
    transform: skewY(-0.5rad);
  }
  
  .skewXY {
    transform: skew(45deg, -0.5rad);
  }
  
  .skew {
    /* single value behaves the same as skewX */
    transform: skew(45deg);
  }
  
  body {
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  p {
    margin: 0;
  }
  
  div {
    background: #cc9543;
    width: 50px;
    height: 50px;
  }
  
  div,
  * + p {
    margin-top: 1.5rem;
  }
  
  .translateX {
    transform: translateX(200px);
  }
  
  .translateY {
    /* percent values are of the element's width */
    transform: translateY(33%);
  }
  
  .translateXY {
    transform: translate(20px, -33%);
  }
  
  body {
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  div {
    border: 1px solid black;
    margin-right: auto;
    padding: 24px;
  }
  
  p {
    margin: 12px 0 24px;
  }
  
  img {
    width: 60px;
  }

  .red-box,
.blue-box {
  position: absolute;
  width: 100px;
  height: 100px;
}

.red-box {
  background: red;
  transform: rotate(45deg) translate(200%);
}

.blue-box {
  background: blue;
  transform: translate(200%) rotate(45deg);
}
